= form_for @gladiator do |f|
  - if @gladiator.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gladiator.errors.count, "error")} prohibited this gladiator from being saved:"
      %ul
        - @gladiator.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :life_points
    = f.number_field :life_points
  .field
    = f.label :attack_points
    = f.number_field :attack_points
  .field
    = f.label :magic_points
    = f.number_field :magic_points
  .field
    = f.label :health_status
    = f.number_field :health_status
  .field
    = f.label :age
    = f.number_field :age
  .actions
    = f.submit 'Save'
