.mt-5.d-flex.justify-content-end
  = link_to 'Recrute a gladiator', new_gladiator_path, class: 'btn btn-outline-primary btn-lg'
  = link_to 'Start a fight', new_fight_path, class: 'btn btn-danger ms-2 btn-lg'
  
%h1.text-center.fst-italic Gods Of The Arena

- if notice
  .alert.alert-success.alert-dismissible.fade.show{role: 'alert'}
    = notice
    %button.btn-close{type: 'button', 'data-bs-dismiss': 'alert', 'aria-label': 'Close'}

- if alert
  .alert.alert-danger.alert-dismissible.fade.show{role: 'alert'}
    = alert
    %button.btn-close{type: 'button', 'data-bs-dismiss': 'alert', 'aria-label': 'Close'}

%table.table.mt-2.mb-5.table-hover.table-responsive
  %thead.table-primary
    %tr
      %th.px-md-4.py-md-3{scope: 'col'} Name
      %th.px-md-4.py-md-3{scope: 'col'} Life points
      %th.px-md-4.py-md-3{scope: 'col'} Attack points
      %th.px-md-4.py-md-3{scope: 'col'} Magic points
      %th.px-md-4.py-md-3{scope: 'col'} Health status
      %th.px-md-4.py-md-3{scope: 'col'} Age
      %th.px-md-4.py-md-3{scope: 'col'} Experience
      %th.px-md-4.py-md-3{scope: 'col'}

  %tbody
    - @gladiators.each do |gladiator|
      %tr
        %td.px-md-4.py-md-3= gladiator.name
        %td.px-md-4.py-md-3= gladiator.life_points
        %td.px-md-4.py-md-3= gladiator.attack_points
        %td.px-md-4.py-md-3= gladiator.magic_points
        %td.px-md-4.py-md-3= gladiator.health_status_human
        %td.px-md-4.py-md-3= gladiator.age
        %td.px-md-4.py-md-3= gladiator.experience_points
        %td.px-md-4.py-md-3.text-end
          = link_to 'Details', gladiator, class: 'btn btn-primary'
