.mt-5.d-flex.justify-content-end
  = link_to 'Gladiators list', gladiators_path, class: 'btn btn-primary btn-lg'
  = link_to 'Recrute a gladiator', new_gladiator_path, class: 'btn btn-outline-primary ms-2 btn-lg'
  = link_to 'Start a fight', new_fight_path, class: 'btn btn-danger ms-2 btn-lg'

%h1.text-center.fst-italic.mt-3 The ludus is where gladiators and born and train for glory
= image_tag "ludus-1.jpeg", class: 'img-fluid mt-5 rounded-4', alt: 'The ludus, gladiators training'
%h2.text-center.fst-italic.mt-5 Each and one of you, to find yourself here, at the ludus, the peveril of the finest gladiators in all of the republic, prove yourselves in the hard days to follow
.my-5.row
  .col-12.col-md-6.mb-2.d-flex.justify-content-center
    = image_tag "ludus-2.webp", class: 'img-fluid rounded-4', alt: 'The arena, gladiators fighting'
  .col-12.col-md-6.mb-2.align-self-center.text-center
    .fst-italic.fw-bold.fs-4 Prove yourselves more than a common slave, more than a man, fail and die
  .col-12.col-md-6.mb-2.align-self-center.text-center
    .fst-italic.fw-bold.fs-4 Here your stand, sold off to the mines, succeed and stand proud among my titans
  .col-12.col-md-6.mb-2.d-flex.justify-content-center
    = image_tag "ludus-3.jpeg", class: 'img-fluid rounded-4', alt: 'The arena, gladiators fighting'
